$color-primary-pale-blue: hsl(225, 100%, 94%);
$color-primary-bright-blue: hsl(245, 75%, 52%);

$color-secondary-pale-blue: hsl(225, 100%, 98%);
$color-secondary-desaturated-blue: hsl(224, 23%, 55%);
$color-secondary-dark-blue: hsl(223, 47%, 23%);

$color-white: #fff;
$color-transparent-black: rgba(0, 0, 0, 0.25);

$font-primary: 'Red Hat Display', sans-serif;

$breakpoint-medium: 36rem;