@use "variables" as vars;
@use "reset";
@use "mixins" as mix;

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

.wrapper {
  align-items: center;
  background:
    url("../assets/images/pattern-background-mobile.svg") no-repeat left top / contain vars.$color-primary-pale-blue;
  display: flex;
  font-family: vars.$font-primary;
  justify-content: center;
  min-height: 100vh;
}

.card {
  background-color: vars.$color-white;
  border-radius: 1.25rem;
  box-shadow: 0 0 1.25rem rgba(0, 0, 0, .25);
  -webkit-box-shadow: 0 0 1.25rem rgba(0, 0, 0, .25);
  -moz-box-shadow: 0 0 1.25rem rgba(0, 0, 0, .25);
  overflow: hidden;
  max-width: 20.3125rem;
  text-align: center;

  &__hero {
    background: url("../assets/images/illustration-hero.svg") no-repeat center / cover;
    height: 10rem;
    width: 100%;
  }

  &__container {
    padding: 2rem 1.5rem;
  }

  &__header {
    margin-bottom: 1.25rem;
  }

  &__title {
    color: vars.$color-secondary-dark-blue;
    font-size: 1.4rem;
    font-weight: 900;
    line-height: 1;
    margin: .25rem 0 1.5rem;
  }

  &__description {
    color: vars.$color-secondary-desaturated-blue;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
  }

  &__content {
    align-items: center;
    background-color: vars.$color-secondary-pale-blue;
    border-radius: .5rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    padding: 1rem;
  }

  &__plan {
    background: url("../assets/images/icon-music.svg") no-repeat left / 3rem;
    padding: .2rem 0 .2rem 4.25rem;
  }

  &__type {
    color: vars.$color-secondary-dark-blue;
    font-size: .9rem;
    font-weight: 900;
    margin-bottom: .3rem;
  }

  &__price {
    color: vars.$color-secondary-desaturated-blue;
    font-size: .9rem;
  }

  &__change {
    color: vars.$color-primary-bright-blue;
    font-size: .8rem;
    font-weight: 700;
    text-decoration: underline solid 1px;
    text-underline-offset: 1px;
    @include mix.smooth-transition;

    &:hover {
      opacity: .75;
      text-decoration-line: none;
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__confirm {
    background-color: vars.$color-primary-bright-blue;
    border-radius: .75rem;
    color: vars.$color-white;
    font-size: .95rem;
    font-weight: 900;
    padding: 1rem;
    width: 100%;
    @include mix.smooth-transition;

    &:hover {
      opacity: .75;
    }
  }

  &__cancel {
    color: vars.$color-secondary-desaturated-blue;
    font-size: .95rem;
    font-weight: 900;
    @include mix.smooth-transition;

    &:hover {
      color: vars.$color-secondary-dark-blue;
    }
  }
}

@media screen and (min-width: vars.$breakpoint-medium) {
  .wrapper {
    background:
    url("../assets/images/pattern-background-desktop.svg") no-repeat left top / contain vars.$color-primary-pale-blue;
  }

  .card {
    max-width: 28.125rem;

    &__hero {
      height: 13.75rem;
    }

    &__container {
      padding: 3rem;
    }

    &__title {
      font-size: 1.75rem;
    }

    &__content {
      margin-bottom: 2rem;
      padding: 1.5rem;
    }

    &__type {
      font-size: 1rem;
    }

    &__price {
      font-size: 105%;
    }

    &__change {
      font-size: .9rem;
    }

    &__footer {
      gap: 2rem;
    }
  }
}